.left-menu ul {
    padding: 0;
    background: #eee;

}

.left-menu ul li {
    list-style-type: none;
    padding: 0.8em;
    border-bottom: 1px solid #5e5e5e;

}

.left-menu ul li:hover {
    background: #999;
}

.left-menu ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;



}
