
.navbar-inverse {
    border-radius: 0;
    padding: 1em;
    background:  #009B72;
    color: #aaa;
    border: transparent;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #aaa;
}
.navbar-brand img{
    width: 100px;
    height: 82px;
    margin-top: -32px;
}
.section1 {
    margin-top: 7em;
    position: relative;
}

.section1 > .container-fluid {
    padding: 0;
    margin-top: -20px;

}

.carousel-inner, .item img {
    /*height: 40em;*/
}

.carousel-caption {
    background: rgba(5, 5, 5, 0.4);
    color: #fff;
    padding: 1em;
    bottom: 50%;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.section2 {
    padding: 5em 0;
    background: #eee;
}

.category-title {
    border-left: 2px solid #2ab27b;
    border-top: 2px solid #2ab27b;
    padding: 1em;

}

.category-title > p {
    font-size: 1.5em;
}

.view-all {
    border-bottom: 2px solid #2ab27b;
    border-right: 2px solid #2ab27b;
    padding: 1em;
    border-radius: 0;
}

.product-image {
    background: #fff;
    border: 1px solid #2ab27b;
    margin-bottom: 1em;

}

.product-image img {
    width: 100%;
    padding: 0.2em;
}
.product-image_bottom{

}
.price {
    color: orangered;
}

.product-title, a {
    padding: 0.5em;
}

.product-image:hover {
    border: 1px solid #999;
    background: #2ab27b;
    color: #fff;
}

.product-image p{
    padding-top: 0.5em;
}
.section3 {
    padding: 5em 0;
    background: #fff;
}

.section3 .product-image img {

    width: 100%;
}

.section4 {
    padding: 5em 0;
    background: #eee;
}

.section4 .product-image img {

    width: 100%;
}

.section5 {
    padding: 5em 0;
    background: #fff;
}

.section5 .product-image img {

    width: 100%;
}

.footer {
    background: #333;
    padding: 5em 5em 10em;
    color: #eee;

}

.footer-end {
    background: #000;
    color: wheat;
    text-align: center;
    padding: 1em;

}

/*single page*/

.single-section {
    margin: 10em 0;
}

.single-image img{
    width: 100%;
}

.related-product-title > h3 {
    text-align: center;
    padding: 0.5em 0;
    background: #fff;
    border-bottom: 2px double #2ab27b;
}

.related-product-list {
    padding: 2em 0;
}

.single-details {
    padding: 1em;
    background: #e9e9e9;
    color: #000;
    box-shadow: 0 8px 6px -6px black;
    margin-top: 0.8em;
}

.address {
    border: 1px solid #2ab27b;
    padding: 0.8em;
    margin: 0.8em 0;
}

.pick_point {
    background: #2ab27b;
    color: white;
    padding: 0.8em;
}


/*category page*/
.category {
    margin-top: 10em;
}
